@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  // background-image: url('../images/0001.jpg');
  background-size: 100% auto;
  background-position: 0% 0%;

  --navbar-height: 11.6vw;
  color: #000;
  padding-top: var(--navbar-height);
  font-family: 'IBM Plex Sans';
  font-weight: 300;

  font-size: calc(min(1vw, 14px));
  line-height: calc(min(1vw, 14px));

  --red-text-color: #e03f39;

  .red {
    color: var(--red-text-color);
  }

  .subtitle {
    font-weight: 300;
  }

  .bold {
    font-weight: 600;
  }

  a {
    color: #000;
  }

  p {
    margin: 0;
  }

  h1 {
    font-weight: 200;
  }

  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }

  input[type=radio] {
    margin: 0;
    display: none;

    &+*::before {
      content: "";
      display: inline-block;
      // vertical-align: bottom;
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
      border-radius: 50%;
      border-style: solid;
      border-width: 0.1rem;
      border-color: gray;
    }

    &:checked+*::before {
      background: radial-gradient(var(--red-text-color) 0%, var(--red-text-color) 40%, transparent 50%, transparent);
      border-color: var(--red-text-color);
    }
  }

  >*,
  .nav-container,
  .evaluation-container {
    margin: 0px auto;
    max-width: 1400px;

    // opacity: 0.5;
    background-color: #fff;
  }

  .grey-round-box {
    border-radius: 25px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    nav {
      pointer-events: none;
      z-index: 2;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      --nav-padding: 0;

      .shadow {
        position: relative;
        top: -1px;
        height: 3vw;
        width: 100%;
        background-color: #fff;
        margin: 0 calc(var(--nav-padding) * -1);

        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%);
        mask-repeat: no-repeat;
      }

      .background {
        width: 100%;
        max-width: unset;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        .nav-container {
          margin: unset;
          display: flex;
          width: 100%;
          padding: 2.4vw 0 0 5vw;
          pointer-events: all;

          .logo {
            --logo-width: 13.5vw;
            width: var(--logo-width);
            height: calc(var(--logo-width) * 0.375);
            padding: 0 0 8vw 0;
            z-index: 2;
          }

          #navbar {
            z-index: 1;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20vw;

            li {
              list-style: none;
              font-size: calc(min(1.2vw, 16.8px));

              &:last-child {
                margin-right: 2.2vw;
                margin-left: -3vw;
                font-size: calc(min(1vw, 14px));
                align-self: flex-start;
              }

              a {
                color: #666;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    #banner {
      padding-top: 50%;
      background-image: url('../images/illustrations/KV.png');
      background-size: 96% auto;
      background-position: 50% 55%;
      position: relative;
      overflow-x: hidden;

      &::after {
        --blur-radius: 4vw;
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: calc(var(--blur-radius) * -1);
        width: calc(100% + var(--blur-radius) * 2);
        height: 100%;
        box-shadow: inset 0px var(--blur-radius) var(--blur-radius) #fff,
          inset 0px calc(var(--blur-radius) * -1) var(--blur-radius) #fff;
      }
    }

    .banner-text-contianer {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 9vw;
      font-size: calc(min(2.2vw, 30.8px));
      line-height: calc(min(2.2vw, 30.8px));
      padding: 0 calc(min(7vw, 98px));
      word-spacing: 0.12em;

      h1 {
        width: 81%;
        font-size: 1em;
        margin-bottom: 0.5%;
      }

      .break {
        flex-basis: 100%;
        width: 0;
      }

      img {
        width: 16%;
      }
    }
  }

  .our-product {
    padding: 3vw 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    .our-product-title {
      padding: 0.5vw 0;
      text-align: center;
      font-size: calc(min(2vw, 28px));
    }

    .our-product-container {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;

      >* {
        &:nth-child(1) {
          order: 1
        }

        &:nth-child(2) {
          order: 2
        }

        &:nth-child(3) {
          order: 4
        }

        &:nth-child(4) {
          order: 3
        }

        &:nth-child(5) {
          order: 5
        }

        &:nth-child(6) {
          order: 6
        }
      }

      .product-img {
        z-index: 1;
        width: 40%;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: contain;

        background-position: 50% 50%;
      }

      .product-desc {
        width: 44%;
        margin: 3% 3% 5% 3%;
        min-height: 24vw;
        padding: 4% 0;

        .product-desc-container {
          width: 75%;

          h2 {
            color: var(--red-text-color);
            font-size: calc(min(4vw, 56px));
          }

          p {
            font-size: calc(min(1.4vw, 19.6px));
            line-height: 1.8vw;
          }

        }
      }
    }
  }

  .our-founders {
    display: flex;
    justify-content: center;

    .our-founders-container {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: end;

      .founders-bubble {
        z-index: 1;
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        width: 54%;
        margin: 0 2.5vw -14vw 0;
        padding-left: 5vw;

        .founders-bubble-container {
          color: #fff;
          font-size: 2.2em;
          line-height: 1.15em;
          padding: calc(min(2vw, 28px)) calc(min(4vw, 50px)) calc(min(2vw, 28px)) calc(min(5vw, 50px));

          border-radius: 25px;
          background: var(--red-text-color);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img{
          margin-top: -1px;
          height: calc(min(10vw, 140px));
          position: relative;
          left: -10%;
          padding-bottom: 4%;
        }
      }

      .break {
        flex-basis: 100%;
        height: 0;
      }

      .founders-img {
        width: 47%;
      }

      .founders-desc {
        width: 49%;
        padding: 8vw 4% 0 0;
        text-align: center;
        ;

        .our-founders-title {
          font-weight: 600;
          font-size: calc(min(1.8vw, 25.2px));
          line-height: 2vw;
        }

        .our-founders-names {
          font-weight: 600;
          font-size: calc(min(2.6vw, 36.4px));
          line-height: 2.8vw;
          margin-bottom: 8%;
        }

        .our-founders-more {
          margin: auto;
          display: block;
          font-size: calc(min(1.55vw, 21.7px));
          line-height: 1vw;
          border-radius: 999px;
          border: 1px solid #000;
          padding: calc(min(15px, 1.7vw));
          width: 80%;
          cursor: pointer;
        }
      }
    }
  }

  .clients {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 8%;

    .clients-title {
      text-align: center;
      font-size: calc(min(2vw, 28px));
      line-height: 2.2vw;
      letter-spacing: 0.25em;
      border-radius: 999px;
      background-color: #a9c9f8;
      padding: 15px;

      br {
        display: none;
      }
    }

    picture {
      text-align: center;

      img {
        margin: 5%;
        width: 67%
      }
    }

    .clients-more {
      text-align: center;
      ;
      margin: -1vw auto 0 auto;
      display: block;
      font-size: calc(min(1.55vw, 21.7px));
      line-height: 1vw;
      border-radius: 999px;
      border: 1px solid #000;
      padding: calc(min(15px, 1.7vw));
      width: 23%;
    }
  }

  .evaluation {
    max-width: unset;
    background-color: #eee;

    .evaluation-container {
      background-color: unset;
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-top: 4vw;
      padding: 4vw 0;
    }

    img {
      width: 11%;
    }

    .evaluation-title {
      margin-top: 2vw;
      color: rgb(255, 98, 98);
      font-size: calc(min(3.4vw, 47.6px));
      font-weight: 600;

      .first-word {
        font-weight: 300;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;

      .fields {
        display: flex;
        width: 69%;
        padding-top: 3vw;
        font-size: calc(min(1.5vw, 21px));
        font-weight: 600;

        .evaluation-info {
          width: 40%;
          display: flex;
          flex-flow: column;
          align-items: center;

          input {
            display: block;
            width: 86%;
            height: 4.3vw;
            max-height: 60px;
            margin: 0.9vw 0 0 0;
            padding: 1vw 1.8vw;
            border-radius: 14px;
            border: 1px solid #000;
          }
        }

        .evaluation-others {
          width: 60%;
          padding: 0 3% 0 2%;
          display: flex;
          flex-flow: column;

          .enquires {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;

            .radio-option {
              display: flex;
              align-items: center;

              label {
                font-weight: 600;
                margin: 0.5vw;
              }
            }
          }

          textarea {
            flex-grow: 1;
            display: block;
            width: 100%;
            height: 4.3vw;
            margin: 2vw 0 0 0;
            padding: 1.8vw 1.8vw;
            border-radius: 14px;
            border: 1px solid #000;
          }
        }
      }

      button {
        font-size: calc(min(1.7vw, 23.8px));
        font-weight: 600;
        color: #fff;
        background-color: rgb(255, 98, 98);
        margin: 3vw 0 0 0;
        padding: 1.4% 1vw;
        border-radius: 10px;
        border: none;
      }

    }
  }

  footer {
    padding: 2vw;
    font-size: calc(min(1.4vw, 56px));
    line-height: 2.2vw;
    text-align: center;

    br {
      display: none;
    }
  }


  .section-title {
    padding: 0.5vw 0;
    text-align: center;
    font-size: calc(min(2vw, 28px));
    letter-spacing: 0.1em;
    margin: 0;
  }

  .ai-stack {
    #banner {
      padding-top: 43%;
      background-image: url('../images/illustrations/A.png');
      background-size: 89% auto;
      background-position: 55% 55%;
    }
  }

  .cloud-fusion {
    #banner {
      padding-top: 43%;
      background-image: url('../images/illustrations/C.png');
      background-size: 85% auto;
      background-position: 57% 58%;
    }
  }

  .ai-stack-appliance {
    #banner {
      padding-top: 43%;
      background-image: url('../images/illustrations/B.png');
      background-size: 85% auto;
      background-position: 57% 58%;
    }
  }

  header.product {
    #banner {
      &::after {
        content: none;
        // box-shadow: inset 0px var(--blur-radius) var(--blur-radius) #fff;
      }
    }

    .product-banner-text-contianer {
      position: relative;
      margin-top: -3vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      word-spacing: 0.12em;

      h1 {
        color: var(--red-text-color);
        font-size: 7em;
      }

      p {
        font-size: 2.5em;
        line-height: 1em;

        .bold {
          font-weight: 600;
        }
      }

      .abstract {
        margin-top: 2vw;
        width: 43%;
        padding: 3.4% 3%;
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 600;
      }
    }
  }

  .product-item {
    padding: 4.5vw 0 8vw 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    .product-item-container {
      width: 80%;
      display: flex;
      flex-wrap: wrap;

      >:nth-child(odd) {
        position: relative;
        width: 50%;
        padding: 6% 7% 0 7%;

        img {
          width: 100%;
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          margin: 13% 8%;
          width: 14%;
          height: 14%;
          background-color: transparent;
          border: 0 solid transparent;
          background-image: url('../images/item-button.svg');
          background-size: 50% auto;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }

      >:nth-child(even) {
        width: 50%;
        padding: 6% 3% 0 2%;
        display: flex;
        flex-flow: column;
        justify-content: center;

        h2 {
          color: var(--red-text-color);
          font-size: 2.3em;
          margin-bottom: 2vw;
        }

        .subtitle {
          font-size: 2.55em;
          line-height: 1em;
          margin-bottom: 2vw;
        }

        .content {
          font-size: 1.5em;
          line-height: 1.4em;
          margin-bottom: 0vw;
        }
      }
    }
  }

  .more-button {
    text-align: center;
    margin: 1.5vw auto 0 auto;
    display: block;
    font-size: 1.55em;
    line-height: 1em;
    border-radius: 999px;
    border: 1px solid #000;
    padding: calc(min(15px, 1.7vw)) 3vw;
  }

  .recommendations {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8%;

    .recommendations-container {
      width: 72%;
      padding: 5vw 0 0 0;
      display: flex;
      flex-flow: column;

      .recommendation {
        border-radius: 25px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 76%;
        overflow: hidden;
        margin-bottom: 6%;

        &:nth-child(even) {
          align-self: flex-end;
        }

        img {
          width: 39%;
          align-self: flex-end;
        }

        .description {
          width: 61%;
          padding: 4% 6% 4% 0;
          margin: 2% 0;

          &.packed {
            margin: 0;
          }

          .testimony {
            font-size: 1.4em;
            line-height: 1.4em;
          }

          .name {
            color: var(--red-text-color);
            font-weight: 600;
            font-size: 2.7em;
            line-height: 1.2em;
            margin: 2.5% 0;
          }

          .organization {
            font-size: 1.4em;
            line-height: 1.4em;
            font-weight: 300;
          }
        }
      }
    }
  }

  .cloud-fusion .more-button {
    margin: 3.5vw auto 1vw auto;
  }

  .hybrid-cloud {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 5%;

    .title {
      border-radius: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      color: #fff;
      font-size: 2.3em;
      line-height: 1.8em;
      width: 62%;
      padding: 1.3% 1%;
      background-color: var(--red-text-color);

      .first-line {
        font-size: 1.2em;
      }

      .second-line {
        font-weight: 600;
      }
    }

    picture {
      display: flex;
      justify-content: center;

      img {
        margin: 3% 0;
        width: 66%;
      }
    }

  }

  .sharktech-modal {
    display: none;
    max-width: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #aaaaaaaa;

    .outer-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .container {
        width: 75%;
        min-height: 20%;
        max-height: 98vh;
        border-radius: 20px;
        background: #fff;
        padding: 3%;
        display: flex;
        flex-flow: column;

        .coming-soon {
          font-size: 3em;
          display: flex;
          height: 30vh;
          padding-bottom: 5vh;
          align-items: center;
          justify-content: center;
        }

        .from-submit {
          display: flex;
          flex-flow: column;
          height: 42vh;
          padding-bottom: 5vh;
          align-items: center;
          justify-content: center;

          img {
            width: 14%;
          }

          .from-submit-text {
            font-size: 3.4em;
            line-height: 1em;
            padding: 2% 19% 0 19%;
            text-align: center;
          }
        }

        .close {
          width: 2.5vw;
          max-width: 35px;
          opacity: 1;
          margin-bottom: 3%;
          float: none;
          align-self: flex-end;

          &:hover {
            opacity: 0.5;
          }
        }

        .sample_screen {
          width: 100%;
        }

        .philosophy-modal {
          width: 80%;
          align-self: center;
          max-height: 50vh;
          padding: 0 5% 0 6%;
          overflow-y: scroll;

          &.wider{
            margin-top: 3%;
            padding: 0% 4% 0 2%;
            width: 100%;
          }

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: #00000000;
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--red-text-color);
            border-radius: 999px;
          }
        }

        .philosophy-modal-font{
          font-size: 1.6em;
          line-height: 1.4em;
          font-weight: 600;
        }
        
        .multi-pic-modal-font{
          line-height: 1.1em;
          margin-bottom: 5%;
        }

        .sharktech-modal-footer {
          font-size: 2.4em;
          line-height: 1em;
          margin-top: 3%;
        }
      }
    }
  }
}