@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
body {
  background-size: 100% auto;
  background-position: 0% 0%;
  --navbar-height: 11.6vw;
  color: #000;
  padding-top: var(--navbar-height);
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-size: calc(min(1vw, 14px));
  line-height: calc(min(1vw, 14px));
  --red-text-color: #e03f39;
}

body .red {
  color: var(--red-text-color);
}

body .subtitle {
  font-weight: 300;
}

body .bold {
  font-weight: 600;
}

body a {
  color: #000;
}

body p {
  margin: 0;
}

body h1 {
  font-weight: 200;
}

body h2 {
  font-weight: 600;
}

body h3,
body h4,
body h5,
body h6 {
  font-weight: 300;
}

body input[type=radio] {
  margin: 0;
  display: none;
}

body input[type=radio] + *::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

body input[type=radio]:checked + *::before {
  background: radial-gradient(var(--red-text-color) 0%, var(--red-text-color) 40%, transparent 50%, transparent);
  border-color: var(--red-text-color);
}

body > *,
body .nav-container,
body .evaluation-container {
  margin: 0px auto;
  max-width: 1400px;
  background-color: #fff;
}

body .grey-round-box {
  border-radius: 25px;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header nav {
  pointer-events: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  --nav-padding: 0;
}

body header nav .shadow {
  position: relative;
  top: -1px;
  height: 3vw;
  width: 100%;
  background-color: #fff;
  margin: 0 calc(var(--nav-padding) * -1);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), black 100%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), black 100%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

body header nav .background {
  width: 100%;
  max-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

body header nav .background .nav-container {
  margin: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.4vw 0 0 5vw;
  pointer-events: all;
}

body header nav .background .nav-container .logo {
  --logo-width: 13.5vw;
  width: var(--logo-width);
  height: calc(var(--logo-width) * 0.375);
  padding: 0 0 8vw 0;
  z-index: 2;
}

body header nav .background .nav-container #navbar {
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20vw;
}

body header nav .background .nav-container #navbar li {
  list-style: none;
  font-size: calc(min(1.2vw, 16.8px));
}

body header nav .background .nav-container #navbar li:last-child {
  margin-right: 2.2vw;
  margin-left: -3vw;
  font-size: calc(min(1vw, 14px));
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body header nav .background .nav-container #navbar li a {
  color: #666;
  font-weight: 600;
}

body header #banner {
  padding-top: 50%;
  background-image: url("../images/illustrations/KV.png");
  background-size: 96% auto;
  background-position: 50% 55%;
  position: relative;
  overflow-x: hidden;
}

body header #banner::after {
  --blur-radius: 4vw;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc(var(--blur-radius) * -1);
  width: calc(100% + var(--blur-radius) * 2);
  height: 100%;
  -webkit-box-shadow: inset 0px var(--blur-radius) var(--blur-radius) #fff, inset 0px calc(var(--blur-radius) * -1) var(--blur-radius) #fff;
          box-shadow: inset 0px var(--blur-radius) var(--blur-radius) #fff, inset 0px calc(var(--blur-radius) * -1) var(--blur-radius) #fff;
}

body header .banner-text-contianer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 9vw;
  font-size: calc(min(2.2vw, 30.8px));
  line-height: calc(min(2.2vw, 30.8px));
  padding: 0 calc(min(7vw, 98px));
  word-spacing: 0.12em;
}

body header .banner-text-contianer h1 {
  width: 81%;
  font-size: 1em;
  margin-bottom: 0.5%;
}

body header .banner-text-contianer .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
}

body header .banner-text-contianer img {
  width: 16%;
}

body .our-product {
  padding: 3vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .our-product .our-product-title {
  padding: 0.5vw 0;
  text-align: center;
  font-size: calc(min(2vw, 28px));
}

body .our-product .our-product-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

body .our-product .our-product-container > *:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .our-product .our-product-container > *:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .our-product .our-product-container > *:nth-child(3) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

body .our-product .our-product-container > *:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body .our-product .our-product-container > *:nth-child(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

body .our-product .our-product-container > *:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

body .our-product .our-product-container .product-img {
  z-index: 1;
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

body .our-product .our-product-container .product-desc {
  width: 44%;
  margin: 3% 3% 5% 3%;
  min-height: 24vw;
  padding: 4% 0;
}

body .our-product .our-product-container .product-desc .product-desc-container {
  width: 75%;
}

body .our-product .our-product-container .product-desc .product-desc-container h2 {
  color: var(--red-text-color);
  font-size: calc(min(4vw, 56px));
}

body .our-product .our-product-container .product-desc .product-desc-container p {
  font-size: calc(min(1.4vw, 19.6px));
  line-height: 1.8vw;
}

body .our-founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .our-founders .our-founders-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body .our-founders .our-founders-container .founders-bubble {
  z-index: 1;
  background-size: contain;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  width: 54%;
  margin: 0 2.5vw -14vw 0;
  padding-left: 5vw;
}

body .our-founders .our-founders-container .founders-bubble .founders-bubble-container {
  color: #fff;
  font-size: 2.2em;
  line-height: 1.15em;
  padding: calc(min(2vw, 28px)) calc(min(4vw, 50px)) calc(min(2vw, 28px)) calc(min(5vw, 50px));
  border-radius: 25px;
  background: var(--red-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .our-founders .our-founders-container .founders-bubble img {
  margin-top: -1px;
  height: calc(min(10vw, 140px));
  position: relative;
  left: -10%;
  padding-bottom: 4%;
}

body .our-founders .our-founders-container .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

body .our-founders .our-founders-container .founders-img {
  width: 47%;
}

body .our-founders .our-founders-container .founders-desc {
  width: 49%;
  padding: 8vw 4% 0 0;
  text-align: center;
}

body .our-founders .our-founders-container .founders-desc .our-founders-title {
  font-weight: 600;
  font-size: calc(min(1.8vw, 25.2px));
  line-height: 2vw;
}

body .our-founders .our-founders-container .founders-desc .our-founders-names {
  font-weight: 600;
  font-size: calc(min(2.6vw, 36.4px));
  line-height: 2.8vw;
  margin-bottom: 8%;
}

body .our-founders .our-founders-container .founders-desc .our-founders-more {
  margin: auto;
  display: block;
  font-size: calc(min(1.55vw, 21.7px));
  line-height: 1vw;
  border-radius: 999px;
  border: 1px solid #000;
  padding: calc(min(15px, 1.7vw));
  width: 80%;
  cursor: pointer;
}

body .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8%;
}

body .clients .clients-title {
  text-align: center;
  font-size: calc(min(2vw, 28px));
  line-height: 2.2vw;
  letter-spacing: 0.25em;
  border-radius: 999px;
  background-color: #a9c9f8;
  padding: 15px;
}

body .clients .clients-title br {
  display: none;
}

body .clients picture {
  text-align: center;
}

body .clients picture img {
  margin: 5%;
  width: 67%;
}

body .clients .clients-more {
  text-align: center;
  margin: -1vw auto 0 auto;
  display: block;
  font-size: calc(min(1.55vw, 21.7px));
  line-height: 1vw;
  border-radius: 999px;
  border: 1px solid #000;
  padding: calc(min(15px, 1.7vw));
  width: 23%;
}

body .evaluation {
  max-width: unset;
  background-color: #eee;
}

body .evaluation .evaluation-container {
  background-color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vw;
  padding: 4vw 0;
}

body .evaluation img {
  width: 11%;
}

body .evaluation .evaluation-title {
  margin-top: 2vw;
  color: #ff6262;
  font-size: calc(min(3.4vw, 47.6px));
  font-weight: 600;
}

body .evaluation .evaluation-title .first-word {
  font-weight: 300;
}

body .evaluation form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .evaluation form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 69%;
  padding-top: 3vw;
  font-size: calc(min(1.5vw, 21px));
  font-weight: 600;
}

body .evaluation form .fields .evaluation-info {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .evaluation form .fields .evaluation-info input {
  display: block;
  width: 86%;
  height: 4.3vw;
  max-height: 60px;
  margin: 0.9vw 0 0 0;
  padding: 1vw 1.8vw;
  border-radius: 14px;
  border: 1px solid #000;
}

body .evaluation form .fields .evaluation-others {
  width: 60%;
  padding: 0 3% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body .evaluation form .fields .evaluation-others .enquires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

body .evaluation form .fields .evaluation-others .enquires .radio-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .evaluation form .fields .evaluation-others .enquires .radio-option label {
  font-weight: 600;
  margin: 0.5vw;
}

body .evaluation form .fields .evaluation-others textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  width: 100%;
  height: 4.3vw;
  margin: 2vw 0 0 0;
  padding: 1.8vw 1.8vw;
  border-radius: 14px;
  border: 1px solid #000;
}

body .evaluation form button {
  font-size: calc(min(1.7vw, 23.8px));
  font-weight: 600;
  color: #fff;
  background-color: #ff6262;
  margin: 3vw 0 0 0;
  padding: 1.4% 1vw;
  border-radius: 10px;
  border: none;
}

body footer {
  padding: 2vw;
  font-size: calc(min(1.4vw, 56px));
  line-height: 2.2vw;
  text-align: center;
}

body footer br {
  display: none;
}

body .section-title {
  padding: 0.5vw 0;
  text-align: center;
  font-size: calc(min(2vw, 28px));
  letter-spacing: 0.1em;
  margin: 0;
}

body .ai-stack #banner {
  padding-top: 43%;
  background-image: url("../images/illustrations/A.png");
  background-size: 89% auto;
  background-position: 55% 55%;
}

body .cloud-fusion #banner {
  padding-top: 43%;
  background-image: url("../images/illustrations/C.png");
  background-size: 85% auto;
  background-position: 57% 58%;
}

body .ai-stack-appliance #banner {
  padding-top: 43%;
  background-image: url("../images/illustrations/B.png");
  background-size: 85% auto;
  background-position: 57% 58%;
}

body header.product #banner::after {
  content: none;
}

body header.product .product-banner-text-contianer {
  position: relative;
  margin-top: -3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  word-spacing: 0.12em;
}

body header.product .product-banner-text-contianer h1 {
  color: var(--red-text-color);
  font-size: 7em;
}

body header.product .product-banner-text-contianer p {
  font-size: 2.5em;
  line-height: 1em;
}

body header.product .product-banner-text-contianer p .bold {
  font-weight: 600;
}

body header.product .product-banner-text-contianer .abstract {
  margin-top: 2vw;
  width: 43%;
  padding: 3.4% 3%;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 600;
}

body .product-item {
  padding: 4.5vw 0 8vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .product-item .product-item-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .product-item .product-item-container > :nth-child(odd) {
  position: relative;
  width: 50%;
  padding: 6% 7% 0 7%;
}

body .product-item .product-item-container > :nth-child(odd) img {
  width: 100%;
}

body .product-item .product-item-container > :nth-child(odd) button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13% 8%;
  width: 14%;
  height: 14%;
  background-color: transparent;
  border: 0 solid transparent;
  background-image: url("../images/item-button.svg");
  background-size: 50% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body .product-item .product-item-container > :nth-child(even) {
  width: 50%;
  padding: 6% 3% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .product-item .product-item-container > :nth-child(even) h2 {
  color: var(--red-text-color);
  font-size: 2.3em;
  margin-bottom: 2vw;
}

body .product-item .product-item-container > :nth-child(even) .subtitle {
  font-size: 2.55em;
  line-height: 1em;
  margin-bottom: 2vw;
}

body .product-item .product-item-container > :nth-child(even) .content {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 0vw;
}

body .more-button {
  text-align: center;
  margin: 1.5vw auto 0 auto;
  display: block;
  font-size: 1.55em;
  line-height: 1em;
  border-radius: 999px;
  border: 1px solid #000;
  padding: calc(min(15px, 1.7vw)) 3vw;
}

body .recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8%;
}

body .recommendations .recommendations-container {
  width: 72%;
  padding: 5vw 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body .recommendations .recommendations-container .recommendation {
  border-radius: 25px;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 76%;
  overflow: hidden;
  margin-bottom: 6%;
}

body .recommendations .recommendations-container .recommendation:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .recommendations .recommendations-container .recommendation img {
  width: 39%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .recommendations .recommendations-container .recommendation .description {
  width: 61%;
  padding: 4% 6% 4% 0;
  margin: 2% 0;
}

body .recommendations .recommendations-container .recommendation .description.packed {
  margin: 0;
}

body .recommendations .recommendations-container .recommendation .description .testimony {
  font-size: 1.4em;
  line-height: 1.4em;
}

body .recommendations .recommendations-container .recommendation .description .name {
  color: var(--red-text-color);
  font-weight: 600;
  font-size: 2.7em;
  line-height: 1.2em;
  margin: 2.5% 0;
}

body .recommendations .recommendations-container .recommendation .description .organization {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 300;
}

body .cloud-fusion .more-button {
  margin: 3.5vw auto 1vw auto;
}

body .hybrid-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

body .hybrid-cloud .title {
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  font-size: 2.3em;
  line-height: 1.8em;
  width: 62%;
  padding: 1.3% 1%;
  background-color: var(--red-text-color);
}

body .hybrid-cloud .title .first-line {
  font-size: 1.2em;
}

body .hybrid-cloud .title .second-line {
  font-weight: 600;
}

body .hybrid-cloud picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .hybrid-cloud picture img {
  margin: 3% 0;
  width: 66%;
}

body .sharktech-modal {
  display: none;
  max-width: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #aaaaaaaa;
}

body .sharktech-modal .outer-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sharktech-modal .outer-container .container {
  width: 75%;
  min-height: 20%;
  max-height: 98vh;
  border-radius: 20px;
  background: #fff;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body .sharktech-modal .outer-container .container .coming-soon {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  padding-bottom: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sharktech-modal .outer-container .container .from-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 42vh;
  padding-bottom: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sharktech-modal .outer-container .container .from-submit img {
  width: 14%;
}

body .sharktech-modal .outer-container .container .from-submit .from-submit-text {
  font-size: 3.4em;
  line-height: 1em;
  padding: 2% 19% 0 19%;
  text-align: center;
}

body .sharktech-modal .outer-container .container .close {
  width: 2.5vw;
  max-width: 35px;
  opacity: 1;
  margin-bottom: 3%;
  float: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .sharktech-modal .outer-container .container .close:hover {
  opacity: 0.5;
}

body .sharktech-modal .outer-container .container .sample_screen {
  width: 100%;
}

body .sharktech-modal .outer-container .container .philosophy-modal {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 50vh;
  padding: 0 5% 0 6%;
  overflow-y: scroll;
}

body .sharktech-modal .outer-container .container .philosophy-modal.wider {
  margin-top: 3%;
  padding: 0% 4% 0 2%;
  width: 100%;
}

body .sharktech-modal .outer-container .container .philosophy-modal::-webkit-scrollbar {
  width: 8px;
}

body .sharktech-modal .outer-container .container .philosophy-modal::-webkit-scrollbar-track {
  background: #00000000;
}

body .sharktech-modal .outer-container .container .philosophy-modal::-webkit-scrollbar-thumb {
  background-color: var(--red-text-color);
  border-radius: 999px;
}

body .sharktech-modal .outer-container .container .philosophy-modal-font {
  font-size: 1.6em;
  line-height: 1.4em;
  font-weight: 600;
}

body .sharktech-modal .outer-container .container .multi-pic-modal-font {
  line-height: 1.1em;
  margin-bottom: 5%;
}

body .sharktech-modal .outer-container .container .sharktech-modal-footer {
  font-size: 2.4em;
  line-height: 1em;
  margin-top: 3%;
}
/*# sourceMappingURL=theme.css.map */